rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

     match /courses/{courseId} {

        allow read;

        match /lessons/{lessonId} {
          allow read;
        }

     }

  }

}
