<div class="create-user">

  <h3>Create New User</h3>

  <form>

    <mat-form-field appearance="outline">

      <input placeholder="User email" matInput>

    </mat-form-field>

    <mat-form-field appearance="outline">

      <input type="password" placeholder="User password" matInput>

    </mat-form-field>

    <mat-slide-toggle class="promo" color="primary">
      Is the user an administrator?
    </mat-slide-toggle>

    <button mat-raised-button color="warn">
      Create User
    </button>

  </form>

</div>


