
<div class="courses-panel" *ngIf="(user.roles$ | async) as roles">

    <div class="header">

        <h2 class="title">All Courses</h2>

        <button mat-mini-fab color="accent" routerLink="/create-course" *ngIf="roles.admin">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>

    </div>

    <mat-tab-group>

        <mat-tab label="Beginners">

            <courses-card-list (courseEdited)="reloadCourses()" (courseDeleted)="reloadCourses()"
                    [courses]="beginnersCourses$ | async">

            </courses-card-list>

        </mat-tab>

        <mat-tab label="Advanced">

            <courses-card-list (courseEdited)="reloadCourses()" (courseDeleted)="reloadCourses()"
                    [courses]="advancedCourses$ | async"

            ></courses-card-list>

        </mat-tab>

    </mat-tab-group>



</div>

