
<div class="courses-panel">

    <div class="header">

        <h2 class="title">All Courses</h2>

        <ng-container *ngIf="(user.roles$ | async) as roles">

            <ng-container *ngIf="roles.admin">

                <button mat-mini-fab color="accent" routerLink="/create-course">
                    <mat-icon class="add-course-btn">add</mat-icon>
                </button>

            </ng-container>

        </ng-container>



    </div>

    <mat-tab-group>

        <mat-tab label="Beginners">

            <courses-card-list [courses]="beginnersCourses$ | async"
                (courseEdited)="reloadCourses()"
                (courseDeleted)="reloadCourses()">

            </courses-card-list>

        </mat-tab>

        <mat-tab label="Advanced">

            <courses-card-list [courses]="advancedCourses$ | async"
                               (courseEdited)="reloadCourses()"
                               (courseDeleted)="reloadCourses()">

            </courses-card-list>

        </mat-tab>

    </mat-tab-group>

</div>

